.remirror-editor-wrapper {
  padding: 0;
  width: 100%;
  max-width: 430px;
  box-sizing: border-box;
}

.ProseMirror {
  padding: 16px 20px;
  width: 100%;
  /* min-width: 100vw; */
  max-width: 430px;
  min-height: 80vh;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ProseMirror::-webkit-scrollbar {
  display: none;
}

.remirror-ul-list-content {
  margin-top: 0;
  margin-bottom: 0;
  /* default padding-left 28px */
  padding-left: 12px;
}

.remirror-list-item-marker-container {
  /* default left 32px */
  left: -18px;
}

.remirror-list-item-with-custom-mark {
  margin: 0;
}
