.visualViewportContainer {
  height: calc(var(--visual-viewport-vh, 1vh) * 100);
  position: relative;
}

.makeScrollable {
  position: absolute;
  left: 0;
  width: 1px;
  height: calc(100% + 1px);
}

.visualViewportContent {
  height: 100%;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.visualViewportContent[data-hide-y-scrollbar='true']::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.visualViewportContent[data-hide-y-scrollbar='true'] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
