.remirror-editor-wrapper {
  padding: 0;
}

.ProseMirror {
  padding: 16px 20px;
  min-width: 100vw;
  min-height: 80vh;
}

.remirror-ul-list-content {
  margin-top: 0;
  margin-bottom: 0;
  /* default padding-left 28px */
  padding-left: 12px;
}

.remirror-list-item-marker-container {
  /* default left 32px */
  left: -18px;
}

.remirror-list-item-with-custom-mark {
  margin: 0;
}
